.loginUsers{
  display: block;
}

.logo {
  width:50%;
  height:50%;
  float:left;
  
}

.options {
  width:50%;
  height:50%;
  float:right;
  display: table;
  height:200px;
}

.option1 {
  display: table-cell;
  vertical-align: middle;
}
